---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: hsl(44, 44%, 90%); // color: #205060;
}
.module-portfolio {
  margin-bottom: 80px;
  border-bottom: 2px solid hsl(195, 50%, 25%); // border-top: 2px solid salmon;
  padding: 20px 0;
}
.module-portfolio img {
  margin-bottom: 10px;
}
.site-title {
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(181, 100%, 55%);
}
.site-header {
  padding: 20px 0; // border-top: 30px solid #2e1800; // border-bottom: 3px solid gold;
}
.post-title {
  font-size: 28px;
}
.site-footer {
  border-top: 1px solid #205060;
}
blockquote {
  letter-spacing: normal;
}
/* =Media queries----------------------------------------- */
@media only screen and (max-width: 480px) {
  .site-nav {
    float: left;
  } /* WIDESCREEN */ /* Increased body size for legibility */
  @media only screen and (min-width: 1400px) /* 87.5em */ {
    body {
      font-size: 120%;
    }
  }
}
